@model Ubigrade.Application.Models.NotenModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NotenModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NId" class="control-label"></label>
                <input asp-for="NId" class="form-control" />
                <span asp-validation-for="NId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bezeichnung" class="control-label"></label>
                <input asp-for="Bezeichnung" class="form-control" />
                <span asp-validation-for="Bezeichnung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mindestanforderung" class="control-label"></label>
                <input asp-for="Mindestanforderung" class="form-control" />
                <span asp-validation-for="Mindestanforderung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
